body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ecf0f3;
  font-family: 'Poppins', sans-serif;
}

.card {
  position: relative;
  background: #fff;
  width: 400px;
  height: 500px;
  margin: 0 auto;
}
.card .content {
  width: 400px;
  box-sizing: border-box;
}
.content img {
  display: inline-block;
  object-fit: cover;
  width: 400px;
  height: 300px;
}
.card .sliderText {
   position: relative;
   width: 100%;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #000;
}
.card .sliderText h3 {
  color: #fff;
  font-size: 3em;
}
#swipe-wrap {
  margin-top: 100px;
}
.swiper-slide {
  width: 400px;
}
.swiper-slide .sliderText {
  background: #f9ac85;
}
#country-form {
  position: fixed;
  top: 0;
  margin: auto;
  padding: 25px 5px 5px 5px;
}

.header {
  overflow: hidden;
  background-color: #ecf0f3;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 13px 13px 20px #cbced1
}
.header a {
  float: left;
  display: block;
  color: #cf5d16;
  text-align: center;
  padding: 10px;
  margin-right: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: center;
  background-size: 100px;
  float: left;
}
.header a:hover {
  background-color: #cf5d16;
  color: #ecf0f3;
  size: 30px 10px;
}
.header-right {
  float: right;
  margin-top: 25px;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

#c-name input {
  width: 505px;
  border: none;
  outline: none;
  background: none;
  padding: none;
  margin-top: 30px;
  font-size: 18px;
  color: #555;
  border-radius: 25px;
  padding: 20px 20px 20px 20px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
}
